@page "/People"
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IToastService ToastService
@inject ICookBookData _db

<h1>People</h1>
<hr>
@if(EditMode)
{
    <h3>Edit person</h3>
}
else 
{
    <h3>Create new person</h3>
}
<EditForm Model="@PersonForm" OnValidSubmit="@SavePerson">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Name:
        <InputText @bind-Value="PersonForm.Name" />
    </label><br>
    <label>
        Portion Coefficient:
        <InputNumber TValue=double @bind-Value=PersonForm.Coefficient ParsingErrorMessage="Coefficient must be a valid floating point numnber."/>
    </label><br>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="@(() => {EditMode = false; PersonForm= new PersonModel();})">Cancel</button>
</EditForm>

<br>
@if (People is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Portion Coefficient</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Coefficient</td>
                    <td><button type="button" @onclick="@(() => EditPerson(person))" class="btn"><span class="oi oi-pencil"></span></button></td>
                    <td><button type="button" @onclick="@(() => DeletePerson(person))" class="btn"><span class="oi oi-x"></span></button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool EditMode = false;
    private List<PersonModel> People;

    private PersonModel PersonForm = new PersonModel();
    protected override async Task OnInitializedAsync()
    {
        People = await _db.GetPeople();
        People.Sort((p1, p2) => p1.Coefficient.CompareTo(p2.Coefficient));
    }
    private async Task SavePerson()
    {
        try {
            var person = new PersonModel
            {
                Id = PersonForm.Id,
                Name = PersonForm.Name,
                Coefficient = PersonForm.Coefficient
            };
            if (!EditMode)
            {
                await _db.InsertPerson(person);
                ToastService.ShowSuccess($"{person.Name} Added");
            }
            else {
                await _db.UpdatePerson(person);
                ToastService.ShowSuccess($"{person.Name} Updated");
                EditMode = false;
            }
            People = await _db.GetPeople();
            People.Sort((p1, p2) => p1.Coefficient.CompareTo(p2.Coefficient));
            PersonForm = new PersonModel();    
        }
        catch {
            ToastService.ShowError("Something went wrong");
        }
    }

    private void EditPerson(PersonModel person)
    {
        EditMode = true;
        PersonForm = new PersonModel
        {
            Id = person.Id,
            Name = person.Name,
            Coefficient = person.Coefficient
        };
    }

    private async Task DeletePerson(PersonModel person)
    {
        try {
            await _db.DeletePerson(person);
            People.Remove(person);
            ToastService.ShowSuccess($"{person.Name} Deleted");
        }
        catch {
            ToastService.ShowError("Something went wrong");
        }
    }

}
